"*":
  Zen:
    softWrap: true
    width: 90
  "atom-clock":
    showClockIcon: true
    showTooltip: true
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "autocomplete-en-en"
    ]
    telemetryConsent: "limited"
    themes: [
      "atom-material-ui"
      "atom-material-syntax"
    ]
  editor: {}
  "exception-reporting":
    userId: "fe0f705b-b8d9-402b-bdb1-4b93a74dd1c0"
  "markdown-preview":
    useGitHubStyle: true
  "platformio-ide-terminal":
    core: {}
    style:
      fontFamily: "\"SourceCodePro+Powerline+Awesome Regular\""
  "todo-show":
    sortBy: "Type"
  wakatime:
    apikey: "Saved in your ~/.wakatime.cfg file"
  welcome:
    showOnStartup: false
  wordcount:
    alwaysOn: true
